.promotions-container {
  padding: 24px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
      margin: 0;
    }
  }

  .description {
    font-size: 12px;
    color: #888;
  }

  .min-amount {
    font-size: 11px;
    color: #888;
  }
}
